<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antoine CLAVEL</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <div class="header-content">
      <div class="header-left">
        <h1>Antoine CLAVEL</h1>
        <%= image_tag "antoine-cv-2.png", class:"image" %>
        <p>Senior ETL Project/Product Manager | Paris, France</p>
      </div>
      <div class="header-right">
        <%= link_to root_path do %>
          <%= image_tag "france.png", class:"flag" %>
        <% end %>
      </div>
    </div>
  </header>
  <section id="about">
      <h2>About</h2>
      <p>Self-taught and coming from a dual background in technology and business, I leverage my experience to develop scalable business synergies and technologically sustainable solutions. With over 9 years of experience in executing strategic cross-functional programs, I am driven by the desire to take on new challenges.</p>
  </section>
  <section id="experience">
      <h2>Key Experiences</h2>
      <div class="job">
          <h3>MARKETPAY</h3>
          <p>Solution Owner - 3 years</p>
          <ul>
              <li>Supervision of payment flows, technical and hybrid for Carrefour</li>
              <li>Full management of Mulesoft interface / Run - Build / team of 5 developers / 1.5M€</li>
          </ul>
          <h3>PMU</h3>
          <p>Sport/Poker RA // Manager - 2 years</p>
          <ul>
              <li>Management of sport and poker activities at PMU</li>
              <li>Management of Build / Run / Quality team – Operational and technical monitoring of application activity / 2.5M€</li>
          </ul>
          <h3>Disney</h3>
          <p>Agile Coach - 8 months</p>
          <ul>
              <li>Migration of the institutional site (D4TH)</li>
              <li>Project management, team facilitation, MOE onshore / offshore management, JIRA management, documentation, scheduling.</li>
          </ul>
          <h3>Solocal</h3>
          <p>Technical Project Manager (MOE) – 2 years</p>
          <ul>
              <li>Management of technical projects</li>
              <li>Multi-project management, cross-functional resource management, Web solution technical guarantor, REST API overhaul, MySQL database.</li>
          </ul>
      </div>
  </section>
  <section id="education">
      <h2>Education</h2>
      <div class="degree">
          <h3>Diploma</h3>
          <p>Le Wagon - Web Developer Certification | 2024</p>
          <p>Burgundy School of Business - Master in International Marketing, specialization in entrepreneurship | 2012</p>
          <p>IAE Orléans – Master's degree in Economics and Social Sciences, specialization in Econometrics | 2011</p>
          <p>IAE Orleans - Bachelor's degree in Economics and Social Sciences, specialization in Econometrics | 2010</p>
      </div>
  </section>
  <section id="skills">
      <h2>Skills</h2>
      <p></p>
      <ul>
          <li>Tools: Mulesoft - Anypoint Studio - SCRUM / Agile SAFE methodology, Ruby On Rails, Github, Confluence, Jira, SQL server, PostGreSql, REST API, Postman, HTML/CSS, Git Kraken, Visual Studio</li>
          <li>Technologies: DataWeave / JS</li>
      </ul>
  </section>
  <footer>
    <p>Contact: <a href="mailto:clavel.antoine@gmail.com">clavel.antoine@gmail.com</a> | Phone: 06.16.22.01.30</p>
  </footer>
</body>
</html>
