body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  margin: 2rem auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-left h1 {
  margin: 0;
}

.header-left p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
}

.header-right .flag {
  margin-top: 1em;
  width: 50px;
  height: auto;
}

section {
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 4rem;
  text-align: justify
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.job, .degree {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.avatar {
  width: 140px;
  height: auto;
  border-radius: 50%;
}

.avatar:hover {
  transform: scale(1.35);
  transition: all 0.3s ease-in-out;
}

.image {
  width: 30px;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
}

.flag {
  width: 50px;
  height: auto;
  border-radius: 3px;
  margin: 0 0.5em;
}

.flag:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}

.footer-content {
  margin-left: 16em;
  max-width: 800px;
  padding-left: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-link {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

.email-link:hover {
  color: #e71ba0;
  transform: scale(1.35);
  transition: all 0.3s ease-in-out;
}

.footer-left {
  display: flex;
  flex-direction: inline;
  align-items: flex-start;
}

.footer-right {
  display: flex;
  align-items: center;
}
.icon-container {
  margin-right: 10px;
}

.logo {
  width: 33px;
  height: auto;
  margin-left: 12px;
}

.logo:hover {
  transform: scale(1.35);
  transition: all 0.3s ease-in-out;
}
